/* .bg_gradasi {
  background-image: linear-gradient(green, black);
} */
/* .card:hover {
  background-color: #4d4d4d;
} */

/* .kontener_navbar {
  background-image: linear-gradient(black, green);
} */

/* * {
  background: black;
} */
